<!doctype html>
<html class="no-js" lang="zxx" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shared on THEMELOCK.COM - Donat - Charity & Donation HTML Template - Donations</title>
    <meta name="author" content="Donat">
    <meta name="description" content="Donat - Charity & Donation HTML Template">
    <meta name="keywords" content="Donat - Charity & Donation HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	  Google Fonts
	============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- datetimepicker -->
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css">
    <!-- Swiper Js -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->


    <!--********************************
   		Code Start From Here 
	******************************** -->

    <!--==============================
     Preloader
  ==============================-->
    <div class="preloader ">
        <button class="th-btn style2 preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <span class="loader">
                Donat
                <span class="loading-text">Donat</span>
            </span>
        </div>
    </div><!--==============================
    Sidemenu
============================== -->
    <div class="sidemenu-wrapper sidemenu-cart ">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget woocommerce widget_shopping_cart">
                <h3 class="widget_title">Shopping cart</h3>
                <div class="widget_shopping_cart_content">
                    <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="#"><img src="assets/img/product/product_thumb_1_1.png" alt="Cart Image">Books</a>
                            <span class="quantity">1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>940.00</span>
                            </span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="#"><img src="assets/img/product/product_thumb_1_2.png" alt="Cart Image">Medicine</a>
                            <span class="quantity">1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>899.00</span>
                            </span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="#"><img src="assets/img/product/product_thumb_1_3.png" alt="Cart Image">Dress</a>
                            <span class="quantity">1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>756.00</span>
                            </span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="#"><img src="assets/img/product/product_thumb_1_4.png" alt="Cart Image">Chair</a>
                            <span class="quantity">1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>723.00</span>
                            </span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="#"><img src="assets/img/product/product_thumb_1_5.png" alt="Cart Image">Cloths</a>
                            <span class="quantity">1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>1080.00</span>
                            </span>
                        </li>
                    </ul>
                    <p class="woocommerce-mini-cart__total total">
                        <strong>Subtotal:</strong>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>4398.00</span>
                    </p>
                    <p class="woocommerce-mini-cart__buttons buttons">
                        <a href="cart.html" class="th-btn wc-forward">View cart</a>
                        <a href="checkout.html" class="th-btn checkout wc-forward">Checkout</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-search-box d-none d-lg-block">
        <button class="searchClose"><i class="far fa-times"></i></button>
        <form action="#">
            <input type="text" placeholder="What are you looking for?">
            <button type="submit"><i class="fal fa-search"></i></button>
        </form>
    </div><!--==============================
    Mobile Menu
  ============================== -->
    <div class="th-menu-wrapper">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html"><img src="assets/img/logo.svg" alt="Donat"></a>
            </div>
            <div class="th-mobile-menu">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="index.html">Home</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="#">Multipage</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Home One</a></li>
                                    <li><a href="home-2.html">Home Two</a></li>
                                    <li><a href="home-3.html">Home Three</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Onepage</a>
                                <ul class="sub-menu">
                                    <li><a href="home-1-op.html">Home One</a></li>
                                    <li><a href="home-2-op.html">Home Two</a></li>
                                    <li><a href="home-3-op.html">Home Three</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">RTL</a>
                                <ul class="sub-menu">
                                    <li><a href="home-1-rtl.html">Home One</a></li>
                                    <li><a href="home-2-rtl.html">Home Two</a></li>
                                    <li><a href="home-3-rtl.html">Home Three</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="about.html">About Us</a></li>
                    <li class="menu-item-has-children">
                        <a href="#">Donations</a>
                        <ul class="sub-menu">
                            <li><a href="donation.html">Donations</a></li>
                            <li><a href="donation-details.html">Donation Details</a></li>
                            <li><a href="donate-now.html">Donate Now</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="#">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-details.html">Shop Details</a></li>
                                    <li><a href="cart.html">Cart Page</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                </ul>
                            </li>
                            <li><a href="team.html">Volunteers</a></li>
                            <li><a href="team-details.html">Volunteer Details</a></li>
                            <li><a href="add-team.html">Become A Volunteer</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="faq.html">FAQS</a></li>
                            <li><a href="testimonial.html">Testimonials</a></li>
                            <li><a href="error.html">Error Page</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="color-scheme-wrap active">
        <button class="switchIcon"><i class="fa-solid fa-palette"></i></button>
        <h3 class="color-scheme-wrap-title text-center">Color Switcher</h3>
        <h4 class="color-scheme-wrap-subtitle text-center">Theme Color</h4>
        <div class="color-switch-btns">
            <button data-color="#1A685B"><i class="fa-solid fa-droplet"></i></button>
            <button data-color="#f34e3a"><i class="fa-solid fa-droplet"></i></button>
            <button data-color="#FF4857"><i class="fa-solid fa-droplet"></i></button>
            <button data-color="#3843C1"><i class="fa-solid fa-droplet"></i></button>
            <button data-color="#FF7E02"><i class="fa-solid fa-droplet"></i></button>
        </div>
        <h4 class="color-scheme-wrap-subtitle mt-20 text-center">Secondary Color</h4>
        <div class="secondary-color-switch-btns">
            <button data-secondary-color="#FFAC00"><i class="fa-solid fa-droplet"></i></button>
            <button data-secondary-color="#F41E1E"><i class="fa-solid fa-droplet"></i></button>
            <button data-secondary-color="#f34e3a"><i class="fa-solid fa-droplet"></i></button>
            <button data-secondary-color="#FF4857"><i class="fa-solid fa-droplet"></i></button>
            <button data-secondary-color="#3843C1"><i class="fa-solid fa-droplet"></i></button>
        </div>
    </div><!--==============================
	Header Area
==============================-->
    <header class="th-header header-default">
        <div class="menu-top">
            <div class="container">
                <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/img/logo.svg" alt="Donat"></a>
                        </div>
                    </div>
                    <div class="col-auto d-none d-md-block">
                        <div class="info-card-wrap">
                            <div class="info-card">
                                <div class="box-icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                    <div class="bg-shape1" data-mask-src="assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                    <div class="bg-shape2" data-mask-src="assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                </div>
                                <div class="box-content">
                                    <p class="box-text">Locate Address:</p>
                                    <h4 class="box-title"><a href="https://www.google.com/maps">Newyork City, USA</a></h4>
                                </div>
                            </div>
                            <div class="info-card">
                                <div class="box-icon">
                                    <i class="fal fa-phone"></i>
                                    <div class="bg-shape1" data-mask-src="assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                    <div class="bg-shape2" data-mask-src="assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                </div>
                                <div class="box-content">
                                    <p class="box-text">Call us any time:</p>
                                    <h4 class="box-title"><a href="tel:16336547896">+163-3654-7896</a></h4>
                                </div>
                            </div>
                            <div class="info-card">
                                <div class="box-icon">
                                    <i class="fal fa-envelope-open"></i>
                                    <div class="bg-shape1" data-mask-src="assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                    <div class="bg-shape2" data-mask-src="assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                </div>
                                <div class="box-content">
                                    <p class="box-text">Email us any time:</p>
                                    <h4 class="box-title"><a href="mailto:info@donat.com">info@donat.com</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto header-social-col">
                        <div class="th-social">
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="container">
                <div class="menu-area">
                    <div class="menu-area-wrap">
                        <div class="col-auto d-inline-block d-lg-none">
                            <div class="header-logo">
                                <a href="index.html"><img src="assets/img/logo-white.svg" alt="Donat"></a>
                            </div>
                        </div>
                        <nav class="main-menu d-none d-lg-block">
                            <ul>
                                <li class="menu-item-has-children">
                                    <a href="index.html">Home</a>
                                    <ul class="mega-menu mega-menu-content">
                                        <li>
                                            <div class="container">
                                                <div class="row gy-4">
                                                    <div class="col-lg-4">
                                                        <div class="mega-menu-box">
                                                            <div class="mega-menu-img">
                                                                <img src="assets/img/pages/index.jpg" alt="Home One">
                                                                <div class="btn-wrap">
                                                                    <a href="index.html" class="th-btn ">Multipage</a>
                                                                    <a href="home-1-op.html" class="th-btn ">Onepage</a>
                                                                    <a href="home-1-rtl.html" class="th-btn ">RTL</a>
                                                                </div>
                                                            </div>
                                                            <h3 class="mega-menu-title"><a href="index.html">Home One</a></h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mega-menu-box">
                                                            <div class="mega-menu-img">
                                                                <img src="assets/img/pages/home-2.jpg" alt="Home Two">
                                                                <div class="btn-wrap">
                                                                    <a href="home-2.html" class="th-btn ">Multipage</a>
                                                                    <a href="home-2-op.html" class="th-btn ">Onepage</a>
                                                                    <a href="home-2-rtl.html" class="th-btn ">RTL</a>
                                                                </div>
                                                            </div>
                                                            <h3 class="mega-menu-title"><a href="home-2.html">Home Two</a></h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mega-menu-box">
                                                            <div class="mega-menu-img">
                                                                <img src="assets/img/pages/home-3.jpg" alt="Home Three">
                                                                <div class="btn-wrap">
                                                                    <a href="home-3.html" class="th-btn ">Multipage</a>
                                                                    <a href="home-3-op.html" class="th-btn ">Onepage</a>
                                                                    <a href="home-3-rtl.html" class="th-btn ">RTL</a>
                                                                </div>
                                                            </div>
                                                            <h3 class="mega-menu-title"><a href="home-3.html">Home Three</a></h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About Us</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Donations</a>
                                    <ul class="sub-menu">
                                        <li><a href="donation.html">Donations</a></li>
                                        <li><a href="donation-details.html">Donation Details</a></li>
                                        <li><a href="donate-now.html">Donate Now</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">Shop</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="shop-details.html">Shop Details</a></li>
                                                <li><a href="cart.html">Cart Page</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="team.html">Volunteers</a></li>
                                        <li><a href="team-details.html">Volunteer Details</a></li>
                                        <li><a href="add-team.html">Become A Volunteer</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="faq.html">FAQS</a></li>
                                        <li><a href="testimonial.html">Testimonials</a></li>
                                        <li><a href="error.html">Error Page</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">Contact Us</a>
                                </li>
                            </ul>
                        </nav>
                        <p class="header-notice"><img class="me-1" src="assets/img/icon/heart-icon.svg" alt="img">Are you ready to help them? Let’s become a volunteers...</p>
                    </div>
                    <div class="header-button">
                        <button type="button" class="icon-btn style2 searchBoxToggler d-lg-block d-none"><i class="far fa-search"></i></button>
                        <button type="button" class="icon-btn sideMenuToggler">
                            <span class="badge">5</span>
                            <i class="fa-regular fa-cart-shopping"></i>
                        </button>
                        <a href="contact.html" class="th-btn style3 d-lg-block d-none"><i class="fas fa-heart me-2"></i> Donate Now</a>
                        <button type="button" class="icon-btn th-menu-toggle d-lg-none"><i class="far fa-bars"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/img/bg/breadcumb-bg.jpg" data-overlay="theme">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Donations</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li>Donations</li>
                </ul>
            </div>
        </div>
    </div><!--==============================
Donation Area  
==============================-->
    <section class="space" id="donation-sec">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="title-area text-center">
                        <span class="sub-title before-none after-none"><i class="far fa-heart text-theme"></i> Lets Start Donating</span>
                        <h2 class="sec-title">See Your Impact: Transparent
                            Donation Causes</h2>
                    </div>
                </div>
            </div>
            <div class="row gy-30">
                <div class="col-xl-6">
                    <div class="donation-card style3">
                        <div class="box-thumb">
                            <img src="assets/img/donation/donation2-1.png" alt="image">
                            <div class="donation-card-tag">85%</div>
                            <div class="donation-card-shape" data-mask-src="assets/img/donation/donation-card-shape2-1.png"></div>
                        </div>
                        <div class="box-content">
                            <h3 class="box-title"><a href="blog-details.html">Your Little Help Can Heal Their Helps</a></h3>
                            <p>Join our community of dedicated supporter by becoming member. Enjoy exclusive benefit.</p>
                            <div class="donation-card_progress-wrap">

                                <div class="progress">
                                    <div class="progress-bar" style="width: 85%;">
                                    </div>
                                </div>
                                <div class="donation-card_progress-content">
                                    <span class="donation-card_raise">Raised <span class="donation-card_raise-number">$45,000.00</span></span>
                                    <span class="donation-card_goal">Goal <span class="donation-card_goal-number">$60,000.00</span></span>
                                </div>
                            </div>
                            <a href="blog-details.html" class="th-btn style6">Donate Now <i class="fas fa-arrow-up-right ms-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="donation-card style3">
                        <div class="box-thumb">
                            <img src="assets/img/donation/donation2-2.png" alt="image">
                            <div class="donation-card-tag bg-theme2">85%</div>
                            <div class="donation-card-shape" data-mask-src="assets/img/donation/donation-card-shape2-1.png"></div>
                        </div>
                        <div class="box-content">
                            <h3 class="box-title"><a href="blog-details.html">Help Children poor Insurance & Medical</a></h3>
                            <p>Join our community of dedicated supporter by becoming member. Enjoy exclusive benefit.</p>
                            <div class="donation-card_progress-wrap">

                                <div class="progress">
                                    <div class="progress-bar" style="width: 85%;">
                                    </div>
                                </div>
                                <div class="donation-card_progress-content">
                                    <span class="donation-card_raise">Raised <span class="donation-card_raise-number">$45,000.00</span></span>
                                    <span class="donation-card_goal">Goal <span class="donation-card_goal-number">$60,000.00</span></span>
                                </div>
                            </div>
                            <a href="blog-details.html" class="th-btn style6">Donate Now <i class="fas fa-arrow-up-right ms-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="donation-card style3">
                        <div class="box-thumb">
                            <img src="assets/img/donation/donation2-3.png" alt="image">
                            <div class="donation-card-tag">85%</div>
                            <div class="donation-card-shape" data-mask-src="assets/img/donation/donation-card-shape2-1.png"></div>
                        </div>
                        <div class="box-content">
                            <h3 class="box-title"><a href="blog-details.html">Help us touch their lives of these youths</a></h3>
                            <p>Join our community of dedicated supporter by becoming member. Enjoy exclusive benefit.</p>
                            <div class="donation-card_progress-wrap">

                                <div class="progress">
                                    <div class="progress-bar" style="width: 85%;">
                                    </div>
                                </div>
                                <div class="donation-card_progress-content">
                                    <span class="donation-card_raise">Raised <span class="donation-card_raise-number">$45,000.00</span></span>
                                    <span class="donation-card_goal">Goal <span class="donation-card_goal-number">$60,000.00</span></span>
                                </div>
                            </div>
                            <a href="blog-details.html" class="th-btn style6">Donate Now <i class="fas fa-arrow-up-right ms-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="donation-card style3">
                        <div class="box-thumb">
                            <img src="assets/img/donation/donation2-4.png" alt="image">
                            <div class="donation-card-tag bg-theme2">85%</div>
                            <div class="donation-card-shape" data-mask-src="assets/img/donation/donation-card-shape2-1.png"></div>
                        </div>
                        <div class="box-content">
                            <h3 class="box-title"><a href="blog-details.html">Raise Fund for Clean & Healthy Water</a></h3>
                            <p>Join our community of dedicated supporter by becoming member. Enjoy exclusive benefit.</p>
                            <div class="donation-card_progress-wrap">

                                <div class="progress">
                                    <div class="progress-bar" style="width: 85%;">
                                    </div>
                                </div>
                                <div class="donation-card_progress-content">
                                    <span class="donation-card_raise">Raised <span class="donation-card_raise-number">$45,000.00</span></span>
                                    <span class="donation-card_goal">Goal <span class="donation-card_goal-number">$60,000.00</span></span>
                                </div>
                            </div>
                            <a href="blog-details.html" class="th-btn style6">Donate Now <i class="fas fa-arrow-up-right ms-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="donation-card style3">
                        <div class="box-thumb">
                            <img src="assets/img/donation/donation2-5.png" alt="image">
                            <div class="donation-card-tag">85%</div>
                            <div class="donation-card-shape" data-mask-src="assets/img/donation/donation-card-shape2-1.png"></div>
                        </div>
                        <div class="box-content">
                            <h3 class="box-title"><a href="blog-details.html">Be hungry no more & Leave no one behind</a></h3>
                            <p>Join our community of dedicated supporter by becoming member. Enjoy exclusive benefit.</p>
                            <div class="donation-card_progress-wrap">

                                <div class="progress">
                                    <div class="progress-bar" style="width: 85%;">
                                    </div>
                                </div>
                                <div class="donation-card_progress-content">
                                    <span class="donation-card_raise">Raised <span class="donation-card_raise-number">$45,000.00</span></span>
                                    <span class="donation-card_goal">Goal <span class="donation-card_goal-number">$60,000.00</span></span>
                                </div>
                            </div>
                            <a href="blog-details.html" class="th-btn style6">Donate Now <i class="fas fa-arrow-up-right ms-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="donation-card style3">
                        <div class="box-thumb">
                            <img src="assets/img/donation/donation2-6.png" alt="image">
                            <div class="donation-card-tag bg-theme2">85%</div>
                            <div class="donation-card-shape" data-mask-src="assets/img/donation/donation-card-shape2-1.png"></div>
                        </div>
                        <div class="box-content">
                            <h3 class="box-title"><a href="blog-details.html">Medical Health or People React Acuter.</a></h3>
                            <p>Join our community of dedicated supporter by becoming member. Enjoy exclusive benefit.</p>
                            <div class="donation-card_progress-wrap">

                                <div class="progress">
                                    <div class="progress-bar" style="width: 85%;">
                                    </div>
                                </div>
                                <div class="donation-card_progress-content">
                                    <span class="donation-card_raise">Raised <span class="donation-card_raise-number">$45,000.00</span></span>
                                    <span class="donation-card_goal">Goal <span class="donation-card_goal-number">$60,000.00</span></span>
                                </div>
                            </div>
                            <a href="blog-details.html" class="th-btn style6">Donate Now <i class="fas fa-arrow-up-right ms-2"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--==============================
Brand Area  
==============================-->
    <div class="space-bottom overflow-hidden brand-area-1">
        <div class="container">
            <div class="brand-wrap1 p-0 m-0 text-center">
                <h3 class="brand-wrap-title">Trusted by over <span class="text-theme2"><span class="counter-number">90</span>K+</span> companies worldwide</h3>
                <div class="swiper th-slider" id="brandSlider1" data-slider-options='{"breakpoints":{"0":{"slidesPerView":2},"576":{"slidesPerView":"2"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"3"},"1200":{"slidesPerView":"4"},"1400":{"slidesPerView":"5", "spaceBetween": "90"}}}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="blog.html" class="brand-box">
                                <img src="assets/img/brand/brand1-1.svg" alt="Brand Logo">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="blog.html" class="brand-box">
                                <img src="assets/img/brand/brand1-2.svg" alt="Brand Logo">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="blog.html" class="brand-box">
                                <img src="assets/img/brand/brand1-3.svg" alt="Brand Logo">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="blog.html" class="brand-box">
                                <img src="assets/img/brand/brand1-4.svg" alt="Brand Logo">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="blog.html" class="brand-box">
                                <img src="assets/img/brand/brand1-5.svg" alt="Brand Logo">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="blog.html" class="brand-box">
                                <img src="assets/img/brand/brand1-1.svg" alt="Brand Logo">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="blog.html" class="brand-box">
                                <img src="assets/img/brand/brand1-2.svg" alt="Brand Logo">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="blog.html" class="brand-box">
                                <img src="assets/img/brand/brand1-3.svg" alt="Brand Logo">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="blog.html" class="brand-box">
                                <img src="assets/img/brand/brand1-4.svg" alt="Brand Logo">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="blog.html" class="brand-box">
                                <img src="assets/img/brand/brand1-5.svg" alt="Brand Logo">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--==============================
	Footer Area
==============================-->
    <footer class="footer-wrapper footer-default" data-bg-src="assets/img/bg/footer-default-bg-mask.png">
        <div class="footer-bg-shape2 shape-mockup jump" data-top="20%" data-right="0">
            <img src="assets/img/shape/footer-bg-shape3.png" alt="img">
        </div>
        <div class="footer-bg-shape3 shape-mockup d-none" data-bottom="0" data-right="0">
            <img src="assets/img/shape/footer-bg-shape2.png" alt="img">
        </div>
        <div class="footer-top">
            <div class="container">
                <div class="subscribe-box">
                    <div class="row gy-40 align-items-center justify-content-center">
                        <div class="col-xl-6">
                            <h4 class="subscribe-box_title">Subscribe to Our Newsletter</h4>
                            <p class="subscribe-box_text">Regular inspections and feedback mechanisms</p>
                        </div>
                        <div class="col-xl-6 col-lg-8">
                            <form class="newsletter-form">
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="Enter Email Address" required="">
                                </div>
                                <button type="submit" class="th-btn style3"><i class="fas fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo">
                                    <a href="index.html"><img src="assets/img/logo-white.svg" alt="Donat"></a>
                                </div>
                                <p class="about-text"> Our secure online donation platform allows you to make contributions quickly and safely. Choose from various.</p>
                                <a href="contact.html" class="th-btn"><i class="fas fa-heart me-2"></i> Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Quick Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="blog.html">Our News</a></li>
                                    <li><a href="about.html">Our Campaign</a></li>
                                    <li><a href="contact.html">Privacy policy</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Our Service</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="donate-now.html">Give Donation</a></li>
                                    <li><a href="faq.html">Education Support</a></li>
                                    <li><a href="faq.html">Food Support</a></li>
                                    <li><a href="faq.html">Health Support</a></li>
                                    <li><a href="gallery.html">Our Campaign </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <div class="th-widget-contact">
                                <h3 class="widget_title">Contact Us</h3>
                                <div class="info-card">
                                    <div class="box-icon">
                                        <i class="fal fa-phone"></i>
                                        <div class="bg-shape1" data-mask-src="assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                        <div class="bg-shape2" data-mask-src="assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                    </div>
                                    <div class="box-content">
                                        <p class="box-text">Call us any time:</p>
                                        <h4 class="box-title"><a href="tel:16336547896">+163-3654-7896</a></h4>
                                    </div>
                                </div>
                                <div class="info-card">
                                    <div class="box-icon">
                                        <i class="fal fa-envelope-open"></i>
                                        <div class="bg-shape1" data-mask-src="assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                        <div class="bg-shape2" data-mask-src="assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                    </div>
                                    <div class="box-content">
                                        <p class="box-text">Email us any time:</p>
                                        <h4 class="box-title"><a href="mailto:info@donat.com">info@donat.com</a></h4>
                                    </div>
                                </div>
                                <div class="th-social style2">
                                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row justify-content-center gy-3 align-items-center">
                    <div class="col-lg-12">
                        <p class="copyright-text text-center">
                            <i class="fal fa-copyright"></i> Copyright 2024 <a href="index.html">Donat</a>. All Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--********************************
			Code End  Here 
	******************************** -->

    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <!--==============================
    All Js File
============================== -->
    <!-- Jquery -->
    <script src="assets/js/vendor/jquery-3.7.1.min.js"></script>
    <!-- Swiper Js -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- Range Slider -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- Isotope Filter -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>

    <!-- Main Js File -->
    <script src="assets/js/main.js"></script>
</body>

</html>